.jumbotron {
    position: relative;
    padding: 20px 0 0;
    text-align: center;
    h1 {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 30px;
        color: grey;
    }
}

#pizza {
    margin-top: 15px;
    &.brush canvas {
        cursor: url('/img/draw_circle.png') 14 14, auto;
    }
    &.text canvas {
        cursor: url('/img/cursor_text.png') 8 8, auto;
    }
    &.paint canvas {
        cursor: url('/img/fill.png') 15 15, auto;
    }
}

.toolbar {
    .color-group button {
        height: 30px;
        width: 30px;
    }
    .util-group {
        float: right;
        .download-btn {
            display: inline-block;
        }
    }
}

#text-dialog {
    #user-input {
        width: 97%; 
    }
}
